html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    width: 100%;
    background-color: #42855B;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 60px;
    height: 60px;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-item a{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    /* este comentario, mas el del final, hacen una transicion a la hora de colocar el mouse arriba */
    /* font-size: 1em;
    transition: 0.3s; */
}

 .nav-item:hover a{
    background-color: #D2D79F;
    color: #000000;
    border-radius: 10px;
    /* borde abajo de la palabra, otra opcion */
    /* background-color: #483838; */
    /* border-bottom: 3px;
    /* border-bottom-style: solid; */
} 

.nav-item-login a {
    color: #fff;
    background-color: #483838;
    border-radius: 10px;
    font-style: italic;
}

.nav-item-login a:hover{
    color: #fff;
    background-color: #483838;
    text-shadow: 2px 2px 3px #000000;
}

/* linea nav-item */
/* ul li > a:hover {
    transition: 0.3s;
    font-size: 0.95em;
    background-color: #D2D79F;
    border-radius: 10px;
} */